body
{
    background:black;
}
iframe
{
    display: block;
    width: 75%;
    height: 72%;
    margin-left: 15%;
    margin-top:2%;
    -webkit-mask-image: url('01.png');
    -webkit-mask-size: 100%;
    -webkit-mask-repeat-x: no-repeat;
    -webkit-mask-attachment: no-repeat;
    overflow: hidden; 
    scrollbar-width: 0px;
}
#panel
{
width: 75%;
height: 18%;
margin-left: 15%;
position: relative;
top:-20px;
}
#text
{
-webkit-text-fill-color: aliceblue;
-webkit-text-stroke-color: aqua;
font-family: 'poppins';
font-size: 35px;
text-align: center;
}